.header-bg-image {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header-bg-image::before {
  background-image: url("/src/assets/img/bgImage.jpg");
  content: "";
  opacity: 10%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
}

.header-text {
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightblue;
}

.body{
  padding: 5%;
}

.body-text{
  font-size: large;
}

.footer-bg {
  padding: 5%;
  border-top: 2px solid;
  border-color: black;
  background-color: rgb(255, 243, 191);
}
